<nav class="navbar navbar-dark" style="background-color:#142850;">
    <a class="navbar-brand">CSM Hardware Recognition</a>
    <button id='btn-header-start' class="btn btn-primary" style="">Start</button>
    <button id='btn-header-stop' class="btn btn-danger" style="display:none;">Stop</button>
</nav>