<div class="header">{{{header}}}</div>
<div class="row" style="height:calc(100% - 56px); min-width:100%; min-height:calc(100% - 56px); padding:0; margin:0;">
    <div class="col-6" style="padding:0;">{{{scanner}}}</div>
    <div class="col-6" style="padding:15px; background-color:#F0F0F0;">{{{history}}}</div>
</div>